#container {
	width: 1920px;
	margin: 0 auto; /*设置整个容器在浏览器中水平居中*/
}

#header {
	height: 24px;
	background: #383735;
}

#nav {
	height: 50px;
	background: #30b383;
}

#logo {
	padding-left: 50px;
	padding-top: 20px;
	/*padding-bottom: 50px;*/
}

#content {
	height: 700px;
	/*此处对容器设置了高度，一般不建议对容器设置高度，一般使用overflow:auto;属性设置容器根据内容自适应高度，如果不指定高度或不设置自适应高度，容器将默认为1个字符高度，容器下方的布局元素（footer）设置margin-top:属性将无效*/
	/*background: #0FF;*/
}

#content_left {
	height: 700px;
	width: 90px;
	float: left; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
	background: #e8e8e8;
	border-right: solid #f8f8f8 1px;
}

#content_middle{
	height: 700px;
	width: 246px;
	float: left; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
	background: #f8f8f8;
	border-right: solid #e6e6e6 1px;
}

#content_right {
	height: 700px;
	width: 1334px;
	float: left; /*设置浮动，实现多列效果，div+Css布局中很重要的*/
	background: #ffffff;
}

/*注：content_left和content-main元素是content元素的子元素，两个元素使用了float:left;设置成两列，这个两个元素的宽度和这个两个元素设置的padding、margin的和一定不能大于父层content元素的宽度，否则设置列将失败*/
#footer {
	height: 40px;
	background: #30b383;
}

#pagination{
	margin-left: 865px;
}

.account_management{
	float:right;
	margin-right:14px
}
.account_management button{
	background:#30b383
}
.admin_avatar{
	float:right;margin-right:0px
}
.nav_message{
	float:right;margin-right: 24px;
}
.nav_search_box{
	float:right;margin-right: 20px;
}

.table-tr-head{
	background: #5fb0d5;
}
.sidebar-img{
	margin-left: 12px;
}
.clear {
	clear: both;
}

.content-right-up{
	height:55px;
	border-bottom: solid #e6e6e6 1px;
	background: #ffffff;
	font-size: x-large;
}
.content-right-up div{
	float:left;
	width:90%;
	margin-top: 20px;
}
.content-right-down{
	margin-top:12px
}



/* 表格相关 */
.table-striped-tr-even {
	background-color: #fbfbfb;
}

.table-striped-tr-odd {
	background-color: #f5f5f5;
}

/*  a 标签 */
.no-underline:hover{
	text-decoration:none;
}
.no-underline:link{
	text-decoration:none;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
  width:40px;
}


/* 按钮样式 */


.btn-success {
    color: #fff;
    background-color: #36bb89;
    border-color: #4cae4c;
	width: 100%;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #2e9f75;
    border-color: #398439
}

.btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
    background-image: none
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
    background-color: #2e9f75;
    border-color: #398439
}

.btn-success .badge {
    color: #5cb85c;
    background-color: #fff
}

.btn-default {
	color: #333;
	background-color: #fff;
	border-color: #ccc
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
	background-image: none
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
	background-color: #fff;
	border-color: #ccc
}

.btn-default .badge {
	color: #fff;
	background-color: #333
}

.btn-primary {
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	color: #fff;
	background-color: #3071a9;
	border-color: #285e8e
}

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background-image: none
}

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
	background-color: #428bca;
	border-color: #357ebd
}

.btn-primary .badge {
	color: #428bca;
	background-color: #fff
}

.btn-info {
	color: #fff;
	background-color: #5bc0de;
	border-color: #46b8da
}

.btn-info:hover, .btn-info:focus, .btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	color: #fff;
	background-color: #31b0d5;
	border-color: #269abc
}

.btn-info:active, .btn-info.active, .open > .dropdown-toggle.btn-info {
	background-image: none
}

.btn-info.disabled, .btn-info[disabled], fieldset[disabled] .btn-info, .btn-info.disabled:hover, .btn-info[disabled]:hover, fieldset[disabled] .btn-info:hover, .btn-info.disabled:focus, .btn-info[disabled]:focus, fieldset[disabled] .btn-info:focus, .btn-info.disabled:active, .btn-info[disabled]:active, fieldset[disabled] .btn-info:active, .btn-info.disabled.active, .btn-info[disabled].active, fieldset[disabled] .btn-info.active {
	background-color: #5bc0de;
	border-color: #46b8da
}

.btn-info .badge {
	color: #5bc0de;
	background-color: #fff
}

.btn-warning {
	color: #fff;
	background-color: #f0ad4e;
	border-color: #eea236
}

.btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
	color: #fff;
	background-color: #ec971f;
	border-color: #d58512
}

.btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning {
	background-image: none
}

.btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
	background-color: #f0ad4e;
	border-color: #eea236
}

.btn-warning .badge {
	color: #f0ad4e;
	background-color: #fff
}

.btn-danger {
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	color: #fff;
	background-color: #c9302c;
	border-color: #ac2925
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger {
	background-image: none
}

.btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
	background-color: #d9534f;
	border-color: #d43f3a
}

.btn-danger .badge {
	color: #d9534f;
	background-color: #fff
}

.btn-link {
	font-weight: 400;
	color: #428bca;
	cursor: pointer;
	border-radius: 0
}

.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link {
	background-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none
}

.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active {
	border-color: transparent
}

.btn-link:hover, .btn-link:focus {
	color: #2a6496;
	text-decoration: underline;
	background-color: transparent
}

.btn-link[disabled]:hover, fieldset[disabled] .btn-link:hover, .btn-link[disabled]:focus, fieldset[disabled] .btn-link:focus {
	color: #777;
	text-decoration: none
}

.btn-lg, .btn-group-lg > .btn {
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px
}

.btn-sm, .btn-group-sm > .btn {
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-xs, .btn-group-xs > .btn {
	padding: 1px 5px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px
}

.btn-block {
	display: block;
	width: 100%
}

.btn-block + .btn-block {
	margin-top: 5px
}

 /*导航条*/
.searchbox{
	position:relative;
	min-width:50px;
	width:0%;
	height:29px;
	overflow:hidden;
	float:right;
	-webkit-transition: width 0.3s;
	-moz-transition: width 0.3s;
	-ms-transition: width 0.3s;
	-o-transition: width 0.3s;
	transition: width 0.3s;
}

.searchbox-input{
	top:0;
	right:0;
	border:0;
	outline:0;
	width:100%;
	height:100%;
	margin:0;
	padding:0px 55px 0px 20px;
	font-size:20px;
	color:red;
}
.searchbox-input::-webkit-input-placeholder {
	color: #d74b4b;
}
.searchbox-input:-moz-placeholder {
	color: #d74b4b;
}
.searchbox-input::-moz-placeholder {
	color: #d74b4b;
}
.searchbox-input:-ms-input-placeholder {
	color: #d74b4b;
}

.searchbox-icon{
	width:50px;
	height:50px;
	display:block;
	position:absolute;
	top:0;
	font-family:verdana;
	font-size:22px;
	right:0;
	padding:0;
	margin:0;
	border:0;
	outline:0;
	line-height:50px;
	text-align:center;
	cursor:pointer;
	color:#dcddd8;
	background:#30B383;
}

.searchbox-open{
	width:70%;
}

.byline{
  position:absolute;
  top:150px;
  left:30%;
  text-align:center;
  font-size:18px;
}
.byline a{
  text-decoration:none;
  color: #d74b4b;
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

.white-color{
	color:#ffffff;
}
.bold-font{
	font-weight: bold;
}

.server-name{
	float: left;
}
.server-name span{
	color:#ffffff;
	font-size: x-large;
}
/*copyright*/
.copyright {
	text-align: center;
	width: 100%;
	height: 26px;
	color: #fff;
	padding-top: 16px;
}


/* modal 样式*/

.custom-panel-heading {
	padding: 0px 0px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.custom-modal-header {
	padding: 10px;
	background-color: #e5e5e5;
	border-radius: 6px 6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}

.custom-modal-header .close {
	margin-top: -4px;
}

.custom-close {
	font-size: 30px;
}

.custom-form-group {
	margin-bottom: 0px;
}

.custom-modal-footer {
	padding: 8px;
	border-top: 0px solid #e5e5e5;
	padding-bottom: 32px;
}

.custom-button-margin {
	margin-right: -30px;
	margin-left: -30px;
}

.custom-col-sm-no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.custom-button-bottom {
	padding-left: 70px;
	padding-top: 18px;
}

.custom-div-padding-left {
	padding-left: 70px;
}

.custom-has-error {
	color: #a94442;
}

.custom-tip-font-size {
	font-size: 12px;
	margin-bottom: 5px;
	font-weight: 100;
}

.custom-label-can-create-count {
	padding-top: 2px;
	float: right;
	padding-bottom: 5px;
}

.custom-form-margin {
	margin-right: -16px;
	margin-left: 5px;
}

.custom-label-padding-right {
	padding-right: 9px;
}

.custom-modal-body {
	padding-top: 26px;
	padding-bottom: 2px;
}

.custom-modal-size {
	width: 420px !important;
	padding-top: 10%;
}

.custom-button-col-no-padding {
	padding-left: 0px;
	padding-right: 0px;
}

.custom-success {
	color: green;
	padding-right: 5px;
	font-size: 16px;
}

.custom-failed {
	color: red;
	padding-right: 5px;
	font-size: 16px;
}

.custom-warn {
	color: red;
	padding-right: 5px;
	font-size: 16px;
}

.custom-modal-title {
	font: bold 16px 微软雅黑;
	text-align: center;
	padding-left: 26px;
	font-weight: 100;
}

.custom-confirm-modal-body {
	padding-top: 40px;
	text-align: center;
	padding-bottom: 32px;
}

.custom-no-padding-top {
	padding-top: 0px;
}

.custom-no-padding-left {
	padding-left: 0px;
}

.custom-no-padding-right {
	padding-right: 0px;
}

.custom-green-color {
	color: green !important;
}

.custom-input-space {
	padding-bottom: 12px;
}

.custom-nav-right-menu-title {
	font-weight: 700;
	font-size: 12px;
	color: #4d6269 !important;
}

/** success error **/

.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline {
	color: #3c763d
}

.has-success .form-control {
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
}

.has-success .input-group-addon {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #3c763d
}

.has-success .form-control-feedback {
	color: #3c763d
}

.has-warning .help-block, .has-warning .control-label, .has-warning .radio, .has-warning .checkbox, .has-warning .radio-inline, .has-warning .checkbox-inline {
	color: #8a6d3b
}

.has-warning .form-control {
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-warning .form-control:focus {
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #c0a16b
}

.has-warning .input-group-addon {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #8a6d3b
}

.has-warning .form-control-feedback {
	color: #8a6d3b
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline {
	color: #a94442
}

.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.has-error .input-group-addon {
	color: #a94442;
	background-color: #f2dede;
	border-color: #a94442
}

.has-error .form-control-feedback {
	color: #a94442
}

.has-feedback label.sr-only ~ .form-control-feedback {
	top: 0
}

/* search drop down content*/

.select_content {
	border: 1px #CCCCCC solid;
	overflow: auto;
	overflow-x: hidden;
	border-top: none;
	display: none;
	z-index: 5;
	position: absolute;
	background-color: white;
}

.select_content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.select_content ul li {
	cursor: pointer;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2px;
	padding-bottom: 2px;
}

.selectLi {
	background-color: #268f00;
	color: #fff;
}

.select_content ul li:hover {
	background-color: #268f00;
	color: #fff;
}

/* Ztree styles */
.ztree * {font-size: 10pt;font-family:"Microsoft Yahei",Verdana,Simsun,"Segoe UI Web Light","Segoe UI Light","Segoe UI Web Regular","Segoe UI","Segoe UI Symbol","Helvetica Neue",Arial}
.ztree li ul{ margin:0; padding:0}
.ztree li {line-height:30px;}
.ztree li a {width:240px;height:30px;padding-top: 0px;}
.ztree li a:hover {text-decoration:none; background-color: #E7E7E7;}
.ztree li a span.button.switch {visibility:hidden}
.ztree.showIcon li a span.button.switch {visibility:visible}
.ztree li a.curSelectedNode {background-color:#D4D4D4;border:0;height:30px;}
.ztree li span {line-height:30px;}
.ztree li span.button {margin-top: -7px;}
.ztree li span.button.switch {width: 12px;height: 12px;}

.ztree li span.button {background-image:url("/images/arrow.png");}
.ztree li span.button.switch.level0 {width: 12px; height:12px}
.ztree li span.button.switch.level1 {width: 12px; height:12px}
.ztree li span.button.noline_open {background-position: 0 0;}
.ztree li span.button.noline_close {background-position: -12px 0;}
.ztree li span.button.noline_open.level0 {background-position: 0 -18px;}
.ztree li span.button.noline_close.level0 {background-position: -18px -18px;}




/*!
 * bootstrap-fileinput v4.3.5
 * http://plugins.krajee.com/file-input
 *
 * Author: Kartik Visweswaran
 * Copyright: 2014 - 2016, Kartik Visweswaran, Krajee.com
 *
 * Licensed under the BSD 3-Clause
 * https://github.com/kartik-v/bootstrap-fileinput/blob/master/LICENSE.md
 */

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	text-align: right;
	opacity: 0;
	background: none;
	cursor: inherit;
	display: block
}

.btn-file ::-ms-browse {
	width: 100%;
	height: 100%
}

#myModal2 {
	margin-top:200px;
}


#sidebar {
	display: block;
	float: left;
	position: relative;
	width: 220px;
	z-index: 16;
}
#sidebar >ul {
	padding-left:20px;
	padding-top: 20px;
}

#sidebar > ul > li {
	display: block;
	position: relative;
	list-style-type:none;
}
#sidebar li {
	line-height:30px;
	list-style-type:none;
}
#sidebar > ul {
	list-style: none;
}

#sidebar > ul > li.active a {
	color: #fff;
	text-decoration: none;
}
#sidebar > ul > li > a:hover {
	background-color: #eeeeee;
	color: #30b383;
}
#sidebar > ul > li > ul > li a:hover {
	background-color: #eeeeee;
	color: #30b383;
}
#sidebar > ul > li > a:active {
	background-color: #eeeeee;
	color: #30b383;
}
#sidebar > ul > li > ul > li a:active {
	background-color: #eeeeee;
	color: #30b383;
}

#sidebar > ul > li.active a {
	color: #fff;
	text-decoration: none;
}
#sidebar > ul > li > a {
	display: block;
	color: #75716d;
	font-size: 15px;
	font-weight: 700;
	padding-left: 10px;
}
#sidebar > ul > li >ul >li > a {
	display: block;
	color: #939da8;
	font-size: 15px;
	padding-left: 40px;
}

#sidebar > ul > li >ul  {
	padding-left: 0px;
}
#sidebar > ul > li.active {
	background-color: #eeeeee;
	color: #30b383;
}

#sidebar > ul > li.active >a{
	background-color: #eeeeee;
	color: #30b383;
}

#sidebar > ul >li >ul > li.active {
	background-color: #eeeeee;
	color: #30b383;
}
#sidebar > ul >li >ul > li.active >a {
	background-color: #eeeeee;
	color: #30b383;
}
.icon-has-li {
	top: 15px;
	right: 15px;
	font-size: 10px;
	line-height: 19px;
	padding-left: 20px;
}

#content_left > ul > li.active{
	background-color: #d0d0d0;
}


.div-title-bar {
	font-size: 16px;
	padding: 0 0 8px 0px;
	margin-bottom: 10px;
	padding-top: 15px;
}


.form-group {
	margin-bottom: 15px
}

.div-title-form-group{
	margin-bottom: 15px;
	margin-right: 15px;
}


.custom-modal-header {
	padding: 10px;
	background-color: #e5e5e5;
	border-radius: 6px  6px 0 0;
	-moz-border-radius: 6px 6px 0 0;
	-webkit-border-radius: 6px 6px 0 0;
}
.text-align-center{
	text-align: center;
}
.text-align-left{
	text-align: left;
}

.text-align-right{
	text-align: right;
}

.page-total-records {
	margin: 10px 10px 0 0
}

.page-size-label {
	margin-top: 3px;
}
.div-page-size {
	padding-left: 20px;
	margin-top: 7px;
}

.page-size-select {
	padding:0;
	height: 25px;
	width: 75px;
	line-height: 25px
}

.no-border input:focus{
	border:0px;
	border-bottom: 1px solid black;
}
.no-border input:hover{
	border:0px;
	border-bottom: 1px solid black;
}
.no-border {
	border:0px;
	border-bottom:1px solid black;
	background:none;
	outline: none;
	width: 30px;
}

.th-color{
	background-color:#5fb0d5 !important;
}

.pull-right {
	float: right !important
}

.pull-left {
	float: left !important
}

label {
	display: inline-block;
	max-width: 100%;
	font-weight: 100;
	margin-bottom: 3px;
}

.block {
	display: block !important;
}
.input-icon {
	position: relative;
}

.input-icon.input-icon-right > [class*="icon-"] {
	left: auto;
	right: 3px;
}
.input-icon > [class*="icon-"] {
	padding: 0 3px;
	z-index: 2;
	position: absolute;
	top: 1px;
	bottom: 1px;
	left: 3px;
	line-height: 28px;
	display: inline-block;
	color: #909090;
	font-size: 16px;
}

.input-icon.input-icon-right > input {
	padding-right: 30px;
}


hr {
	margin-bottom: 5px;
	border: 0;
	border-top: 1px solid #eee;
}

.table {
	margin-bottom: 0;
}

table {
	background-color: transparent;
}
table {
	border-spacing: 0;
	border-collapse: collapse;
}

.fixed-table {
	width: 100%;
	table-layout: fixed;
}
.table-bordered {
	border: 1px solid #ddd;
}

.div-list-table-layout {
	margin-bottom: 15px;
}

.table-striped-tr-odd {
	background-color: #fff;
}

.table-striped-tr-even {
	background-color: #F3F3F3;
}

.text-align-left {
	text-align: left;
}

table {
	background-color: transparent
}

th {
	text-align: left
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px
}

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
	border-bottom-width: 1px;
}

.table {
	margin-bottom: 0;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	line-height: 1.42857143;
	vertical-align: middle;
	border: none;
}

body {
	margin: 0 auto;
	color: #242424;
	font-size: 13px;
	font-family: 微软雅黑, arial, serif;
}

.table > tbody > tr {
	height: 32px;
}