<html>
<body style="line-height: 25px;font-size: 14px;color: #444444;">
<div align="center" style="padding-top: 30px;margin-left:auto;margin-right:auto;">
    <table style="width:560px;border: 1px solid #E3E3E3;background-color:#FBFBFB;" cellspacing="0">
        <tbody>
        <tr>
            <td style="padding:15px 40px 0 40px;" align="left"><a href="http://www.yealinkvc.com" target="view_window" style="text-decoration:none;"><img
                src="https://www.yealinkvc.com/images/mail_logo.png"></a></td>
        </tr>
        <tr>
            <td style="padding:0 40px;"><p style="mso-line-height-rule:exactly;line-height:4px;height:4px;border:none;border-bottom: 4px solid #40A382;color:#40A382;">&nbsp;</p></td>
        </tr>
        <tr>
            <td style="padding:18px 40px 36px 40px;font-family: Microsoft YaHei !important;"><p>${welcomeMsg}</p>

                <p>${bindEmailMsg}</p>
                <p><a style="text-decoration:none;color: #25A77B" href=${bindEmailUrl}>
                    <b>${clickUrlMsg}</b></a><br/>
                </p>

                <p style="line-height: 30px;">${teamName}<br/><a href="http://www.yealink.com" target="view_window" style="text-decoration:none;color: #444444">www.yealink.com</a></p>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="font-size: 12px;color: #444444;padding-top:10px;">Copyright©2016 ${companyName} All rights reserved</div>
</div>
</body>
</html>