<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <appender name="info" class="ch.qos.logback.core.FileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <file>/opt/log/UCWeb/info/ucwebprod.log</file>
        <encoder>
            <pattern>%d [%thread] %-5level %logger{36} - %message%n</pattern>
        </encoder>
    </appender>

    <appender name="trace" class="com.yealink.uc.platform.log.track.TrackAppender">
        <logFolder>/opt/log/UCWeb/track</logFolder>
    </appender>

    <appender name="action" class="ch.qos.logback.core.FileAppender">
        <file>/opt/log/UCWeb/action/action.log</file>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <logger name="action" additivity="false" level="INFO">
        <appender-ref ref="action"/>
    </logger>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.apache.http" level="WARN"/>
    <root level="debug">
        <appender-ref ref="info"/>
        <appender-ref ref="trace"/>
    </root>
</configuration>

